* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  margin: 20px;
  background: linear-gradient(270deg, #71335bd1, #0f2b46fa);
  color: #fff;
}

button {
  border: none;
  background: none;
}

.wrapper {
  width: 436px;
  border-radius: 7%;
  border: 10px solid rgba(255, 255, 255, 0.25);
  background: #180A30;;
  box-shadow: 30px 43px 40px 0px rgba(0, 0, 0, 0.25);
  opacity: 0.7;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  padding: 15px 20px 10px 20px;
}

.track-list,
.favorites-list {
  color: #F9F9FA;
}

.wrapper-now-playing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

p {
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.current-track {
  text-align: center;
}

.author {
  color: rgba(249, 249, 250, 0.32);
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px 10px 10px;
}

.cover {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
  border-radius: 7%;
}

.current-track-favorite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.to-favorite {
  width: 32px;
  height: 28px;
  background: url(./assets/svg/shape.svg) no-repeat center;
}

h2 {
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.wrapper-track-line {
  display: flex;
  align-items: center;
}

.track-line {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #fff;
  accent-color: rgba(249, 249, 250, 0.32);
}

.wrapper-time {
  display: flex;
  justify-content: space-between;
}

.player-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.wrapper-prev-track,
.wrapper-next-track {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background: #F9F9FA;
}

.prev-track {
  width: 100%;
  height: 100%;
  background: url(./assets/svg/prew_btn.svg) no-repeat center;
}

.next-track {
  width: 100%;
  height: 100%;
  background: url(./assets/svg/next_btn.svg) no-repeat center;
}

.wrapper-btn {
  width: 66px;
  height: 66px;
  border-radius: 32px;
  background: #F9F9FA;
}

.play-track {
  width: 100%;
  height: 100%;
  background: url(./assets/svg/play_btn.svg) no-repeat center;
}

.pause-track {
  display: none;
  width: 100%;
  height: 100%;
  background: url(./assets/svg/pause_btn.svg) no-repeat center;
}

.wrapper-speaker-volume {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.wrapper-speaker {
  display: flex;
  align-items: center;
  justify-content: center;
  background:#F9F9FA;
  width: 25px;
  height: 25px;
  border-radius: 15px;
}

.btn-speaker {
  width: 15px;
  height: 15px;
  background: url(./assets/svg/speaker_on.svg) no-repeat center;
  background-size: contain;
}

.volume {
  width: 50%;
  accent-color: rgba(249, 249, 250, 0.32);
}

