* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #000;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

h2 {
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

h3 {
  max-width: 600px;
  font-family: Forum, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  background-color: #000;
  padding: 35px 40px;
  margin: 220px 0 160px 0;
}

hr {
  width: 50px;
  height: 1px;
  background: #0C0C0E;
}

section {
  padding: 20px 20px 40px 20px;
}

.wrapper-content {
  max-width: 1440px;
  margin: 0 auto;
}

/***** Header *****/

header {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  padding: 20px;
}

.wrapper-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.link-user {
  width: 28px;
  height: 28px;
  background: url(./assets/svg/icon_profile.svg) no-repeat center;
}

.header-background {
  background: url(../library/assets/png/headerBg.png) no-repeat center;
}



main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
}

/***** Section all *****/

.section-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.section-description {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

/***** Section about *****/

.section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.about {
  display: flex;
  flex-direction: column;
}

.wrapper-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.slider {
  display: flex;
  gap: 25px;
  padding-top: 20px;
}

.image {
  width: 450px;
  height: 560px;
  background: no-repeat center;
}

.first-image {
  background-image: url(../library/assets/png/imageSlider_1.png);
}

.second-image {
  background-image: url(../library/assets/png/imageSlider_2.png);
}

.third-image {
  background-image: url(../library/assets/png/imageSlider_3.png);
}

.slider-dots {
  display: flex;
  gap: 10px;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #000;
}

.active {
  background-color: #BB945F;
}

/***** Section favorites *****/

.favorites {
  display: flex;
  flex-direction: column;
}

.section-favorites {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 40px;
}

.inputs {
  display: flex;
  gap: 90px;
}

.books {
  max-width: 1365px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.book-wrapper {
  display: flex;
  gap: 30px;
  width: 550px;
  border: 1px solid #000;
}

.book-details {
  width: 355px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 15px 0 15px 20px;
}

.book-buy {
  max-width: 75px;
}

h4 {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.book-description {
  width: 355px;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.staff-picks-line {
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

.line {
  width: 60px;
  background-color: #BB945F;
}

.book-author {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.book-buy {
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  padding: 9px 27px;
}

.wrapper-image {
  display: flex;
  align-items: flex-end;
}

.book-image {
  width: 200px;
  height: 300px;
}