* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  display: flex;
  align-items: center;
  background-color: #80808070;
  height: 100vh;
}

button {
  width: 111px;
  height: 62px;
  background-color: #FBC399;
  color: #B67C62;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.screens-wrapper {
  width: 430px;
  height: 650px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 40px;
}

.welcome-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 1s;
}

.btn-welcome {
  background: url(./assets/svg/greeting/Rectangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: #fff;
  width: 100%;
  padding: 5px;
  border-radius: 40px;
  animation: btn-welcome 1s linear infinite;
  opacity: 1;
}

.btn-welcome:hover {
  cursor: pointer;
  opacity: 0.7;
  animation: none;
  transform: scale(1.1);
}

.btn-welcome:active {
  transform: scale(1.1);
  opacity: 1;
}


.greeting-screen {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: 100%;
}

.greeting {
  position: absolute;
  width: 324px;
  height: 259px;
  overflow: hidden;
}

h1 {
  position: absolute;
  bottom: 100px;
  color: #D94690;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  animation: title 0.7s linear;
}

.letter-r {
  color: #D94690;
}

.letter-p {
  color: #F0CA44;
}

.letter-s {
  color: #5BC6E0;
}

.rock-greeting {
  position: absolute;
  bottom: 25px;
  left: 85px;
  z-index: 4;
  animation: rock 0.7s linear;
}

.paper-greeting {
  position: absolute;
  top: 16px;
  left: 47px;
  z-index: 3;
  animation: paper 0.7s linear;
}

.scissors-greeting {
  position: absolute;
  top: 2px;
  right: 10px;
  z-index: 2;
  animation: scissors 0.7s linear;
}

.shadow-small {
  position: absolute;
  bottom: 20px;
  right: 0;
  z-index: 2;
  animation: shadow-small 0.7s linear;
}

.shadow-big {
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 2;
  animation: shadow-big 0.7s linear;
}

.btn-tap {
  position: absolute;
  top: 85px;
  opacity: 1;
  animation: tap 0.6s linear infinite;
  border-radius: 20px;
}

/***** Animation greeting *****/

@keyframes btn-welcome {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes title {
  from {bottom: -85px;}
  to {bottom: 100px;}
}

@keyframes tap {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.2);
    opacity: 1;
  }
}

@keyframes rock {
  from {
    bottom: -175px;
    left: 85px;
  };
  to {
    bottom: 25px;
    left: 85px;
  };
}

@keyframes paper {
  from {
    top: -235px;
    left: 77px;
  };
  to {
    top: 16px;
    left: 47px;
  };
}

@keyframes scissors {
  from {
    top: -36px;
    right: -140px;
  };
  to {
    top: 2px;
    right: 10px;
  };
}

@keyframes shadow-small {
  from {
    bottom: 20px;
    right: -140px;
  };
  to {
    bottom: 20px;
    right: 0;
  };
}

@keyframes shadow-big {
  from {
    bottom: 0;
    left: -250px;
  };
  to {
    bottom: 0;
    left: 10px;
  };
}